.wrapper {
    padding: 50px;
}
.a {
    display: flex;
    align-items: center;
    margin: 0 0 30px 0;
}
.backArrow {
    width: 40px;
    margin: 0 10px 0 0;
}
.a span {
    color: black;
}
.firstMes {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.firstMes h2 {
    font-size: 3rem;
}
.firstMes p {
    font-size: 1rem;
    margin: 0 0 15px 0;
}
.firstMes img {
    margin: 30px 0 0 0;
}
.haveWord {
    display: block;
}
.wordsList {
    border: #013464 3px solid;
    padding: 20px;
}
.wordsList div {
    border-bottom: #013464 1px solid;
    font-size: 1rem;
    transition: all 0.5s ease-in 0s;
}
.wordsList div:last-child {
    border-bottom: none;
}
.wordsList div:hover {
    transition: all 0.5s ease-in 0s;
    font-size: 1.3rem;
}